extends layout

block content
    if data != null
        table.table
            tr
                th(scope="col") Name
                th(scope="col") Description
                th(scope="col") Due date
                th(scope="col") Date added
                th(scope="col") Actions
            for d in data
                tr
                    td=d.name
                    td=d.desc
                    td=d.due
                    td=d.addedDate

    else
        p No data.