extends layout

block content
    form(action= '/forms' method= 'POST')
        .text-box-input
            label(for='input') Text input
            input(name='input')
        .button
            button(type='submit') Submit
    .live-output
        if input != null
            p The input was #{input}
        else
            p No input.
        if obj != null
            p Previous input:
            ul 
                for o in obj
                    li= o.input
        else
            p No history.