extends layout

block content
    h2 Index
    p The purpose of this web app is to practice various things
    ul
        li Node
        li Express
        li Web app development
        li Maybe some JSON shenanigans
        li Also would do Mongo, but having some trouble.