extends layout

block content
    h2 Input A Thing You Need To Do
    form(action="/data" method="POST" id="inputForm")
        .basic-info
            label(for='name') Name
            br
            input(name='name')
            br
            label(for='description') Description
            br
            textarea(name='description')
            br
            label(for='dueDate') Date Due
            br
            input(type="date", name='dueDate')
            br
            button(type="submit") Submit