doctype HTML
head(lang= 'en')
    title Test
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
    link(rel= 'stylesheet' href= 'styles/style.css') 
body
    .header
        h1 Kevin's Sandbox
        nav
            ul
                li
                    a(href='/') Home
                li
                    a(href='/forms') JSON Read Write Test
                li
                    a(href='/data?mode=view') View data 
                li
                    a(href='/data?mode=input') Add data
    .body
        block content
    .footer
        block footer
        