body {
    background-color: #EE7;
    color: #234;
    width: 70%;
    margin: 0 auto;
    font-family: Helvetica, Ariel, sans-serif;
}

.body{
    padding: 10px 50px 10px 50px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}
nav ul li{
    display: inline-block;
    margin-right: 10px;
    border-style: solid;
    border-width: 1px;
    padding: 2px;
}

nav ul li:hover{
    background-color: #FEFE87;
}

a {
    text-decoration: none;
}

form{
    border-width: 1px;
    border-style: solid;
    padding: 10px;
    margin: 10px;
    width: 25%;
    margin: 0 auto;
}

.text-box-input{
    margin-bottom: 5px;
    padding: 5px;
}
label{
    margin-right: 5px;
}

.header{
    border-style: solid;
    padding: 0 50px 0 50px;
    margin-bottom: 40px;
}
